*{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
  padding: 0px;
}
textarea{
  resize: none;
}

hr{
  position: relative;
  top: -10px;
  width: auto;
  margin: 0px 5%;
  animation: hrLine both;
  transition: 0.6s ease;
  animation-timeline: view(5% 1%);
}
@keyframes hrLine{
  from{
    width: auto;
    opacity: 0;
    translate: -2rem 0;
  }
  to{
    width: full;
    opacity: 1;
    translate: 0 0;
  }
}

.project-card{
  animation: fadeCard both;
  animation-timeline: view(40% 0%);
}
@keyframes fadeCard{
  from{
    opacity: 0;
    scale: 0.9;
    translate: 0 4rem;
  }
  to{
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

.skill-card{
  animation: fadeSkillCard both;
  animation-timeline: view(30% 0%);
}
@keyframes fadeSkillCard{
  from{
    opacity: 0;
    scale: 0.95;
    translate: 0 5rem;
  }
  to{
    opacity: 1;
    scale: 1;
    translate: 0;
  }
}

.page-btn{
  animation: fadeBtn both;
  animation-timeline: view(60% 5%);
}
@keyframes fadeBtn {
  from {
    opacity: 0;
    scale: 0.95;
    translate: 0 6rem;
  }
  
  to {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

.pageHeading{
  animation: pageHeading both;
  animation-timeline: view();
}
@keyframes pageHeading{
  from{
    translate: 0 4rem;
    opacity: 0.5;
  }
  to{
    translate: 0 0;
    opacity: 1;
  }
}

.pageText{
  animation: pageText both;
  animation-timeline: view();
}
@keyframes pageText {
  from{
    translate: 0 5rem;
    opacity: 0.5;
  }
  to{
    translate: 0 0;
    opacity: 1;
  }
}

.formInputs{
  animation: formInputs both;
  animation-timeline: view();
}
@keyframes formInputs {
  from{
    opacity: 0;
    translate: 0 4rem;
  }
  to{
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes nothing {
  from{
    opacity: 1;
  }
  to{
    opacity: 1 ;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pageHeading{
    animation-timeline: view(30%, 0%);
  }
  .pageText{
    animation-timeline: view(80%, 0%);
  }
  .page-btn{
    animation-timeline: view(60%, 0%); ;
  }
  .skill-card{
    animation-timeline: view(30%, 0%);
  }

}