*{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}
hr{
  position: relative;
  top: -10px;
  width: auto;
  margin: 0px 5%;
}
body{
  background: rgba(220,220,240,1);
}
textarea{
  resize: none;
}